// /////////////////////////////////////////////////////////////////////
// styles specific to the develop service(s) index
// /////////////////////////////////////////////////////////////////////


.app-step-nav__toggle-link {
  text-align: right;
}


.app-step-nav__header {
  border-top: solid 2px #dee0e2;
}

.app-step-nav__header__and {
  border-top: solid 1px #f2f5f7;
}

.app-step-nav__header:hover {
  background: #f2f5f7;
}


