// /////////////////////////////////////////////////////////////////////
// styles specific to the develop service(s) index
// /////////////////////////////////////////////////////////////////////

.service-status--closed {
  // style for service status flag / label / banner - tbd;
  background-color:red;
  color: white;
  padding:10px;
  font-weight:700;
}


.app-step-nav__toggle-link {
  text-align: right;
}


.app-step-nav__header {
  border-top: solid 1px #dee0e2;
}


