
{% extends "layout-index-brand.html" %}

{% block pageTitle %}
  Developing Land and Property index
{% endblock %}

{% block content %}


<a href="index" class="govuk-back-link">back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">About this</h1>

        <p>Who to talk to about the services discussed here, and getting this site updated</p>

        <p>This site is the responsibility of the Design Community. The first person to talk to should be a designer on the current service.</p>

        <p><a href="https://github.com/LandRegistry/develop-index">github repo: https://github.com/LandRegistry/develop-index</a></p>

        <div class="govuk-section-break--xl"></div>

    </div>


</div>



<div class="govuk-section-break--l"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="index" class="govuk-back-link">back</a>
  </div>
</div>


{% endblock %}
